<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.game.mapper.IGameCategoryMapper">
    <select id="getAllItemCategories" resultType="gameCategory">
        SELECT gc.id, gc.game_id, gc.name, gc.code, gc.value
        FROM game_category gc
        WHERE gc.type = 'item'
    </select>

    <select id="getAllKeysByItemCode" resultType="gameCategory">
        SELECT gc.id, gc.game_id, gc.name, gc.code, gc.value
        FROM game_category gci
        LEFT JOIN game_category gc ON gci.id = gc.parent_id
        WHERE gci.type = #{itemCode}
    </select>
</mapper>